/* General styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header, footer {
    color: #FF8000;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Button styles */
.button {
    background-color: #0066CC;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

/* Hero section styles */
.hero {
    background-color: #FF8000;
}

.hero img {
    width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    text-align: center;
}

/* Custom styles for headings and links */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Courgette', cursive;
    color: #FF8000;
}

a {
    color: #0066CC;
}

main p {
    font-family: 'Roboto';
    color: #0066CC;
}
