* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer, nav {background-color: #bbb;}

/*basic CSS Grid*/
main {
    display: grid;
    grid-gap: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

.parent {
    display: grid;
    grid-gap: 20px;
}

/*parent*/
.parent {
    margin: 1rem 2vw
}

.parent section{
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.parent span {
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
}

