/* Media query for larger views */
@media only screen and (min-width: 768px) {
    /* Styles for navigation in larger views */
    nav {
        display: block; /* Ensure nav is visible in larger views */
    }

    /* Hamburger button hide in larger views */
    button {
        display: none;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns layout */
        column-gap: 10px;
    }

    nav ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .card {
        box-shadow: 1px 1px 10px black;
    }
}

